[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
eventlet = "*"
dnspython = "*"
pika = "*"
redis = "*"
gunicorn = "*"
pytest = "*"
Flask = "*"
Flask-SocketIO = "*"
Werkzeug = "*"
Flask-Login = "*"
pymongo = "*"
requests = "*"

[requires]
python_version = "3.8"
