<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Home</title>
</head>

<body>
    <h1> Hi: {% if current_user.is_authenticated %} {{current_user.username}} {% else %} Guest {% endif%} this is my Home Chat </h1>


    <h3>You have available</h3>
    <ul>
        {% for room in rooms %}
        <li> <a href='/rooms/{{room._id.room_id}}'> {{room.room_name}}</a></li>
        {% endfor %}

    </ul>
    {% if current_user.is_authenticated %}
        <button><a href="/create-room">Create a room</a></button>
        <button><a href="/logout">logout</a></button>
    {% endif %}

    {% if not current_user.is_authenticated %}
        <h2>Signup or Login to start chating</h2>
        <button><a href="/login">Login</a></button>
        <button><a href="/signup">Signup</a></button>

        <!-- <form action="/rooms/room">
            <div>
                <label for="">Enter your user name</label>
                <input type="text" name="username" id="">
            </div>
            <div>
                <label for="">Enter room id</label>
                <input type="text" name='room'>
            </div>
            <button type='submit'> Submit</button>
        </form> -->

    {% endif %}

</body>

</html>