<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">


    <title>Stock chat</title>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        const socket = io.connect("http://127.0.0.1:5000/");
        socket.on("connect", () => {
            socket.emit("join_room", {
                username: "{{username}}",
                room: "{{room._id}}",
            });
            let message_input = document.getElementById("message_input");
            document.getElementById("message_input_form").onsubmit = (e) => {
                e.preventDefault();
                let message = message_input.value.trim();
                if (message_input.value.length) {
                    socket.emit("send_message", {
                        username: "{{username}}",
                        room: "{{room._id}}",
                        message: message,
                    });
                }
                message_input.value = '';
                message_input.focus();
            };
        });

        window.onbeforeunload = () => {
            socket.emit('leave_room', {
                username: "{{username}}",
                room: "{{room._id}}"
            });
        };

        socket.on("join_room_notice", (data) => {
            const newNode = document.createElement("div");
            newNode.innerHTML = `<b>${data.username}</b> has joined the {{room.name}} room`;
            document.getElementById("messages").appendChild(newNode);
        });

        socket.on('received_message', (data) => {
            const newNode = document.createElement('div');
            newNode.innerHTML = `<b>${data.username}:&nbsp;</b>  [${data.created_at}]:&nbsp  ${data.message} `;
            document.getElementById('messages').appendChild(newNode);
        });

        socket.on('left_room_notice', (data) => {
            const newNode = document.createElement('div');
            newNode.innerHTML = `<b>${data.username}</b> has left the {{room.name}} room`;
            document.getElementById("messages").appendChild(newNode);
        });
    </script>
    <h1>This is chat.html</h1>
    <h2>Welcome {{username}} to chat room: {{room.name}}</h2>
    <div id="messages" class='messages container'>
        {% for message in messages %}
        <div><b>{{ message.sender }}:&nbsp;</b>[{{message.created_at}}]:&nbsp;{{ message.text }}</div>
        {% endfor %}

    </div>
    <div>
        <form id="message_input_form" action="">
            <input type="text" id="message_input" placeholder="Enter message here" />
            <button type="submit">Send</button>
        </form>
    </div>
    <div class="members-container">
        <h4>List of chat room members</h4>
        <ul>
            {% for member in room_members %}
            <li>{{ member._id.username }}</li>
            {% endfor %}
        </ul>
    </div>
    <button><a href="/">Home</a></button>
    <button><a href="/rooms/{{room.name}}/edit">Edit room {{room.name}} </a></button>
</body>

</html>